.container {
    width: 250px;
    height: 450px;
    background-color: rgb(27, 73, 137);
    display: flex;
    gap: 10px;
    border-radius: 10px;
    flex-direction: column;
    padding: 30px;
    align-items: center;
    color: white;
}

.container img {
    width: 150px;
}

.container span {
    font-weight: 600;
    color: white;
}
